.purchaseform {
  text-align: center;
  vertical-align: middle;
  background: rgba(0,0,0,0.5);
  padding-top: 15px;
  border-radius: 12px;
  margin-top: 15%;
}

.table{
  color: white;
  text-align: center;
}

.form-group{
  width: 100% !important;
  text-align: center !important;
  margin-bottom: 5px !important;
  padding-left: 10px !important;
}

.purchinventory{
  padding-top: 10px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.submitinventory{
  padding-top: 180px;
}

.form-inline{
  height: 600px;
  border-radius: 5px;
  margin: 0 auto !important;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px black;
}

.submit{
  width: 250px;
  height: 100px;
  margin: 0 auto;
  display: block !important;
  margin-bottom: 20px !important;
}

.counter{
  width: 65px !important;
}

#place {
  margin-top: 80px;
  width: 250px !important;
  display: block !important;
  margin: 0 auto !important;
}

#place:hover{
  cursor: pointer;
}

#size {
  width: 100%%;
  margin: 0 auto;
}

#quantity {
  width: 50%;
  margin: 0 auto;
}

#receipt {
  border-radius: 6px;
  box-shadow: 1px 1px 10px black;
  z-index: 1;
  background-color: white;
}
#receiptInner {
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
  background-color: white;
}
#map{
  width: 250px;
  height: 180px;
}

#label {
  color: white;
}

.glyphicon-download-alt{
  margin-top: 2px;
  font-size: 2em;
  float: right;
  color: black;
  text-decoration: none;
}

.glyphicon-download-alt:hover{
  margin-top: 4px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll Bar Styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px grey;
    //border-radius: 10px;
		background-color: black;
}

::-webkit-scrollbar-thumb {
		background-color: grey;
    //border-radius: 10px;
    //-webkit-box-shadow: inset 0 0 6px black;
}
